body {
    text-align: center;
}
.header {
    margin-top: 2%;
    width: 90%;
    height: 240px;
    background-color: #fff794;
    display: inline-block; /*выравнивание по центру.*/
}
.menu {
    margin-right: 2%;
    display: inline-block;
    width: 25%;
    height: 500px;
    background-color: #94ff97;
    margin-right: 2%; /*отступ_справа.*/
}
.content {
    margin-top: 2%;
    margin-left: -4px; /*отступ_слева.*/
    display: inline-block;
    width: 65%;
    height: 500px;
    background-color: #ab94ff;
}